<h1>Dashboard</h1>
<h4>Count of available products: <%=@product_count%></h4>
<p> <%= link_to 'See list of available products here', [:admin, :products] %><p>
<h4>Count of product categories: <%=@category_count%></h4>
<p> <%= link_to 'See list of product categories here', [:admin, :categories] %><p>
